.sync-pick {
    z-index: 2500;
    position: relative;
    display: inline-block;
}

.sync-pick .sp__button-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sp__popup {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #bbb;
    background-color: #ddd;
    display: none;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin: 2px 0;
}

.sp__popup.sp__popup--right {
    right: 0;
    left: auto;
}

.sp__popup.sp__popup--visible {
    display: inline-block;
}

.sp__popup .sp__search-input {
    width: 100%;
    height: 36px;
}

.sp__popup .sp__results-scroll-wrapper {
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    border: 2px solid #0f0;
}

.sp__popup .sp__selected-scroll-wrapper {
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    border: 2px solid #00f;
}

.sp__popup .sp__results {
    padding: 5px 0;
}

.sp__popup .sp__results-list__item {
    height: 24px;
    padding: 2px 20px 4px 20px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sp__popup .sp__results-list__item:not(.sp__results-list__item--selected):not(.sp__results-list__item--muted):not(.sp__results-list__item--disabled):hover {
    background-color: #ccc;
}

.sp__popup .sp__results-list__item:not(.sp__results-list__item--muted):not(.sp__results-list__item--disabled):hover {
    cursor: pointer;
}

.sp__popup .sp__results-list__item--selected {
    color: #fff;
    background-color: #1b6ec2;
}

.sp__popup .sp__results-list__item--hover {
    background-color: #ccc;
}

.sp__popup .sp__results-list__item--disabled {
    color: #666;
}

.sp__popup .sp__results-list__item__subtext {
    color: grey;
    margin-left: 2em;
}

.sp__popup .sp__results-list__item--selected .sp__results-list__item__subtext {
    color: white;
}


.sp__popup .sp__results-list__item__check-mark {
    position: absolute;
    right: 5px;
}

.sp__popup .sp__results-list, .sp__popup .sp__selected-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-left: 0;
}

.sp__popup .sp__results-list:not(:last-child) {
    list-style-type: none;
}

.sp__popup .sp__results-list__item--muted {
    color: #666
}

.sp__results-list__item__image {
    border-radius: 64px;
    height: 20px;
    width: 20px;
    margin-bottom: 3px;
    margin-right: 6px;
}

.sp__hr {
    margin-top: 8px;
    margin-bottom: 4px;
}
